.header {
  background-color: var(--clr-grey-dark);
  display: flex;
  flex-direction: column;
  height: 500px;
  padding-left: 100px;
  padding-right: 100px;
}

.header__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 5px;
}

.header__nav-logo-container {
  display: flex;
  height: 100%;
}

.header__nav-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

.header__nav-link {
  color: var(--clr-grey-light);
  font-size: 18px;
  text-decoration: none;
}

.header__hero {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.header__hero-title {
  color: var(--clr-white);
  font-size: 48px;
  line-height: 40px;
}

.header__hero-paragraph {
  color: var(--clr-grey-light);
  font-size: 18px;
}

.header__hero-button {
  border: none;
}

.header__hero-left {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 300px;
}

.header__image {
  height: 300px;
}
