@import "variables.css";
@import "fonts.css";
@import "header.css";
@import "random-info-section.css";
@import "quote-section.css";
@import "cta-section.css";

html,
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100dvh;
  width: 100dvw;
}