@import "variables.css";
@import "fonts.css";
@import "header.css";
@import "random-info.css";
@import "quote.css";
@import "cta.css";

html,
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100dvh;
  width: 100dvw;
}

.sign-up-button {
  background-color: var(--clr-blue-light);
  border-radius: 10px;
  color: var(--clr-grey-light);
  font-weight: 800;
  padding: 5px 15px;
}