.quote {
  background-color: var(--clr-grey-light);
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
  justify-content: center;
  padding: 0px 200px;
}

.quote__blockquote {
  text-align: justify;
}

.quote__paragraph {
  color: var(--clr-grey-dark);
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.quote__author {
  align-self: flex-end;
  font-weight: 600;
}