.random-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 300px;
}

.random-info__title {
  font-size: 36px;
  font-weight: 700;
}

.random-info__figures {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.random-info__figure {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-evenly;
  width: 200px;
}

.random-info__image {
  border-radius: 50%;
  height: 70%;
}

.random-info__caption {
  color: var(--clr-grey-dark);
  font-size: 16px;
  text-align: center;
}